body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #4990dc;
}

button {
    background-color: #15ff00;
    color: #a62323;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}